<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="2.5" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Ma servlet</display-name>
  <description>Ma servlet</description>
  
        <servlet>
    <servlet-name>urlout</servlet-name>
    <servlet-class>Breizhlink.urlout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>urlout</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Index</servlet-name>
    <servlet-class>Breizhlink.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>Breizhlink.login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>urlin</servlet-name>
    <servlet-class>Breizhlink.urlin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>urlin</servlet-name>
    <url-pattern>/urlin</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>listUrl</servlet-name>
    <servlet-class>Breizhlink.listUrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listUrl</servlet-name>
    <url-pattern>/listUrl</url-pattern>
  </servlet-mapping>
  
  <context-param>
    <param-name>db_path</param-name>
    <param-value>jdbc:mysql://localhost:3306/JEE</param-value>
  </context-param>
  <context-param>
    <param-name>db_user</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>db_pwd</param-name>
    <param-value>root</param-value>
  </context-param>
    <context-param>
    <param-name>root_domain</param-name>
    <param-value>http://localhost:8080/breizhlink</param-value>
  </context-param>
  <error-page>
    <error-code>404</error-code>
    <location>/error.jsp</location>
  </error-page>
</web-app>